@model Service_Billing.Models.ClientTeam
<div>
    <hr />
    <h4>ClientTeam</h4>
    <table>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.FinancialContact)
            </td>
            <td>
                @Html.DisplayFor(model => model.FinancialContact)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.PrimaryContact)
            </td>
            <td>
                @Html.DisplayFor(model => model.PrimaryContact)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.Approver)
            </td>
            <td>
                @Html.DisplayFor(model => model.Approver)
            </td>
        </tr>
    </table>
</div>
