@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<header>
    <div class="banner">
        <a href="https://gov.bc.ca">
            <img src="~/assets/BCID_H_rgb_rev.svg" alt="Go to the Government of British Columbia website" />
        </a>
        <h1>Service Billing</h1>
    </div>
    <div class="other">
        <a class="nav-btn">
            <i class="fas fa-bars" id="menu"></i>
        </a>
        <!--
          This place is for anything that needs to be right aligned
          beside the logo.
        -->
    </div>
</header>
<nav class="navigation-main" id="navbar">
    <div class="nav-container">
        <ul>
            @*<li><a href="" class="active">Home</a></li>*@
            <li>@Html.ActionLink("Create Client Account", "Intake", "ClientAccount")</li>
            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
            {
                <li>@Html.ActionLink("Account Admin", "Index", "ClientAccount")</li>
            }
            else
            {
            <li>@Html.ActionLink("Manage Account", "Index", "ClientAccount")</li>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
            {
                <li>@Html.ActionLink("Charges By Quarter", "Index", "Bills")</li>
            }
            <li>@Html.ActionLink("Order a Service", "Create", "Bills")</li>
            <li>@Html.ActionLink("Service Admin", "Index", "ServiceCategory")</li>
        </ul>
    </div>
</nav>