@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = User as ClaimsPrincipal;
    //  var isMinistryClient = user?.IsMinistryClient() ?? false;
    bool isAdmin = user != null && user.IsInRole("GDXBillingService.FinancialOfficer");
    bool isServiceOwner = user != null && user.IsInRole("GDXBillingService.Owner");
    bool isMinistryClient = user != null && user.IsInRole("GDXBillingService.User");
}
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject IAuthorizationService AuthorizationService
<header>
    <div class="banner">
        <a href="/">
            <img src="~/assets/BCID_H_rgb_rev.svg" alt="Go to the Government of British Columbia website" />
        </a>
        <h1>GDX Service Billing</h1>
    </div>
    <div class="other">
        <a class="nav-btn">
            <i class="fas fa-bars" id="menu"></i>
        </a>
        <!--
          This place is for anything that needs to be right aligned
          beside the logo.
        -->
    </div>
    <partial name="_LoginPartial" />
</header>
<nav class="navigation-main" id="navbar">
    <div class="nav-container">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            @if (!isMinistryClient)
            {
                <li>@Html.ActionLink("Create Client Account", "Intake", "ClientAccount")</li>
            }
            @if (isAdmin)
            {
                <li>@Html.ActionLink("Manage Account", "Index", "ClientAccount")</li>
            }
            @if (isAdmin)
            {
                <li>@Html.ActionLink("View Quarterly Reports", "Index", "Bills")</li>
            }
            else if(isServiceOwner)
            {
                <li>@Html.ActionLink("View Reports for My Services", "Index","Bills")</li>
            }

            @if (!isMinistryClient)
            {
                <li>@Html.ActionLink("Order a Service", "Create", "Bills")</li>
            }
            @if (!isMinistryClient)
            {
                <li>@Html.ActionLink("View Service Categories", "Index", "ServiceCategory")</li>
            }
            @if(isMinistryClient)
            {
                <li>@Html.ActionLink("View My Teams' Charges", "Index", "ClientAccount")</li>
            }
        </ul>
    </div>
</nav>