@model Bill
@{
    bool mustChangeServiceCategory = true;
    IEnumerable<ServiceCategory> categories = ViewData["categories"] as IEnumerable<ServiceCategory>;
}
<div class="form-group">
    <label for="categorySelect">Service Category</label>
    <select asp-for="@Model.ServiceCategoryId" class="form-control" id="categorySelect">
        @if(Model != null && Model.ServiceCategoryId > 0)
        {
            @foreach (ServiceCategory category in categories)
            {
                if (category.ServiceId == Model.ServiceCategoryId)
                {
                    if (!category.IsActive)
                    {
                        <option class="inactive-service-category" value="@category.ServiceId" selected>@category.Name</option>
                        {
                            mustChangeServiceCategory = false;
                        }
                    }
                    else
                    {
                        <option value="@category.ServiceId" selected>@category.Name</option>
                    }
                }
                else if (category.IsActive)
                {
                    <option value="@category.ServiceId">@category.Name</option>
                }
            }
        }
        else
        {
            <option value="" disabled selected hidden>Select a service category</option>
            @foreach (ServiceCategory category in categories)
            {
                if (category.IsActive)
                {
                    <option value="@category.ServiceId">@category.Name</option>
                }
            }
        }
     </select>
</div>
<div class="change-category-message" id="categoryWarning" hidden="@mustChangeServiceCategory">
    <p>This appears to be an older service category that is no longer active.</p>
    <p>A newer, active service category should be selectable from the dropdown list.</p>
</div>