@model IEnumerable<ServiceCategory>
@{
    bool mustChangeServiceCategory = true;
    short id = (short)ViewData["id"] != null ? (short)ViewData["id"] : (short)-1;
}
<div class="form-group">
    <label for="categorySelect">Service Category</label>
    <select class="form-control" id="categorySelect">
        @if(id != null && id > 0)
        {
            @foreach (ServiceCategory category in Model)
            {
                if (category.ServiceId == id)
                {
                    if (!category.IsActive)
                    {
                        <option class="inactive-service-category" value="@category.ServiceId" selected>@category.Name</option>
                        {
                            mustChangeServiceCategory = false;
                        }
                    }
                    else
                    {
                        <option value="@category.ServiceId" selected>@category.Name</option>
                    }
                }
                else if (category.IsActive)
                {
                    <option value="@category.ServiceId">@category.Name</option>
                }
            }
        }
        else
        {
            <option value="" disabled selected hidden>Select a service category</option>
            @foreach (ServiceCategory category in Model)
            {
                if (category.IsActive)
                {
                    <option value="@category.ServiceId">@category.Name</option>
                }
            }
        }
     </select>
</div>
<div class="change-category-message" id="categoryWarning" hidden="@mustChangeServiceCategory">
    <p>This appears to be an older service category that is no longer active.</p>
    <p>A newer, active service category should be selectable from the dropdown list.</p>
</div>