@model Service_Billing.Models.Bill

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
@{
    IEnumerable<ServiceCategory> categories = ViewData["Categories"] as IEnumerable<ServiceCategory>;
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.clientName">Client: </label>
                <input asp-for="@Model.clientName" id="clientInput" class="form-control" />
                <span asp-validation-for="@Model.clientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.clientAccountId" id="clientIdInput" class="form-control" />
                <span asp-validation-for="@Model.clientAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idirOrUrl" class="control-label"></label>
                <input asp-for="idirOrUrl" class="form-control" />
                <span asp-validation-for="idirOrUrl" class="text-danger"></span>
            </div>
            @await Component.InvokeAsync("ServiceCategoryInput", new { categories =  categories, id = Model.serviceCategoryId })
            <div class="form-group">
                <input type="hidden" asp-for="@Model.serviceCategoryId" id="categoryIdInput" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" id="amount" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fiscalPeriod" class="control-label"></label>
                <input asp-for="fiscalPeriod" class="form-control" />
                <span asp-validation-for="fiscalPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" id="quantity" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticketNumberAndRequester" class="control-label"></label>
                <input asp-for="ticketNumberAndRequester" class="form-control" />
                <span asp-validation-for="ticketNumberAndRequester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billingCycle" class="control-label"></label>
                <input asp-for="billingCycle" class="form-control" />
                <span asp-validation-for="billingCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdBy" class="control-label"></label>
                <input asp-for="createdBy" class="form-control" />
                <span asp-validation-for="createdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            calculateAmount = () => {
                if(!$("#quantity")){
                    $("#quantity").val(1);
                }
                var url = "../../Bills/GetBillAmount?serviceId=" + $("#categorySelect").val() + "&quantity=" + $("#quantity").val();
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        $("#amount").val(xhr.responseText);
                    }
                };
                xhr.open('get', url);
                xhr.send();
            }
            $("#categorySelect").on("change", (e) => {
                calculateAmount();
                if ($("#categorySelect").val() < 21) { //id's greater than 21 are older categories, with slightly different names and prices
                    $("#categoryWarning").hide();
                    $("#categoryIdInput").val($("#categorySelect").val())
                }
            });
            $("#quantity").on("change", (e) => {
                calculateAmount();
            });

            createClientSelect = () => {
                var clientsMatchingSearch = [];
                var url = "../../Bills/GetClients";
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        clientsMatchingSearch = [];
                        var data = JSON.parse(xhr.response);

                        for (const client in data) {
                            clientsMatchingSearch.push({ label: data[client].clientName, "clientId": data[client].accountId });
                        }

                        $("#clientInput").autocomplete({
                            source: clientsMatchingSearch
                        });
                    }
                };
                xhr.open('get', url);
                xhr.send();

                $("#clientInput").autocomplete({
                    source: clientsMatchingSearch,
                    delay: 500,
                    select: function (event, ui) {
                        $("#clientIdInput").val(ui.item.clientId);
                        $("#clientInput").text(ui.item.label);
                    },
                    minLength: 0
                });
            }
            createClientSelect();
        });
    </script>
}