@model Service_Billing.Models.Bill

@{
    ViewData["Title"] = "Add Service Charge";
    Layout = "_Layout";
}
@{
    IEnumerable<ServiceCategory> categories = ViewData["Categories"] as IEnumerable<ServiceCategory>;
    string? currentUserName = ViewData["CurrentUser"] != null ? ViewData["CurrentUser"].ToString() : "";
    DateTimeOffset startDateFormatted = Model.StartDate.Value;
    string startDateString = startDateFormatted.ToString("yyyy-MM-dd");
}

<h1>Add Service Charge</h1>

<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ClientAccount.Name" class="control-label">Client </label>
                <input asp-for="@Model.ClientAccount.Name" 
                  class="form-control" 
                  title="Begin entering a client name, and a list of matching clients will appear." 
                  data-val="true" data-val-required="Select a ministry or organization from the drop down menu"/>
                <span asp-validation-for="@Model.ClientAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ClientAccountId" class="form-control" />
                <span asp-validation-for="@Model.ClientAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Program</label>
                <input asp-for="Title" class="form-control" data-val="true" data-val-required="Add the digital asset/web property you will be providing the service for. Don’t use acronyms." />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdirOrUrl" class="control-label"></label>
                <input asp-for="IdirOrUrl" class="form-control"/>
                <span asp-validation-for="IdirOrUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.ServiceCategoryId" id="categoryIdInput" class="form-control" data-val="true" data-val-required="A Service Category must be selected" />
            @await Component.InvokeAsync("ServiceCategoryInput", new { categories =  categories })
   
            
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" id="Amount" data-val="true" data-val-required="Select the service category for this to display."/>
                <span asp-validation-for="Amount" class="text-danger"></span>
                <div class="input-info">
                    The amount is calculated based on service and quantity, and typically should not be changed. 
                </div>
            </div>
            <div class="form-group">
                <label>Unit of Measure</label>
                <input id="uom" class="form-control" readonly="true" />
            </div>

            <div class="form-group" title="For monthly charges, this is calculated based on the start date and end date (if provided). Clients are not charged for past months in a fiscal quarter. If a monthly charge is included in the following fiscal quarter, its quantity will be set to 3 (for each month in the quarter), unless an end date is set that is earlier than the end of the new quarter.">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" id="quantity" data-val="true" data-val-required="A quantity must be provided" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketNumberAndRequester" class="control-label"></label>
                <input asp-for="TicketNumberAndRequester" class="form-control" />
                <span asp-validation-for="TicketNumberAndRequester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" value="@startDateString"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" id="endDate" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCycle" class="control-label"></label>
                <input asp-for="BillingCycle" class="form-control" />
                <span asp-validation-for="BillingCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" value="@currentUserName" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="@Model.Notes" class="control-label"></label>
                <textarea asp-for="@Model.Notes" class="form-control" value="@Model.Notes" > </textArea>
                <span asp-validation-for="@Model.Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var userSetQuantity = false;
            // nav link highlighting
            $('li').removeClass("active-nav-link");
            $('#order-service-link').addClass("active-nav-link");
            calculateAmount = (quantityChanged) => {
                if(!$("#quantity")){
                    $("#quantity").val(1);
                }
                var url = '@Url.Action("GetBillAmount", "Bills")' + "?serviceId=" + $("#categorySelect").val() + "&quantity=" + $("#quantity").val() + "&startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val() + "&quantityChanged=" + quantityChanged;
                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var response = JSON.parse(xhr.response);
                        $("#Amount").val(response['amount']);
                        $("#uom").val(response['uom']);
                        $("#quantity").val(response['quantity']);
                    }
                };
                xhr.open('get', url);
                xhr.send();
            }
            $("#categorySelect").on("change", (e) => {
                if ($("#categorySelect").val() < 21) { //id's greater than 21 are older categories, with slightly different names and prices
                    $("#categoryWarning").hide();
                }
                var id = $('#categorySelect').val();
                $("#categoryIdInput").val(id);   
                calculateAmount(false);
            });

            $("#quantity").on("change", (e) => {
                userSetQuantity = true;
                calculateAmount(true);
            });

            $("#StartDate").on("change", (e) => {
                calculateAmount(false);
            });

            $("#endDate").on("change", (e) => {
                calculateAmount(false);
            });

            var clientsMatchingSearch = [];
            createClientSelect = () => {
                var url = "../../Bills/GetClients";
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        clientsMatchingSearch = [];
                        var data = JSON.parse(xhr.response);

                        for (const client in data) {
                            clientsMatchingSearch.push({ label: data[client].name, "clientId": data[client].id });
                        }

                        $("#ClientAccount_Name").autocomplete({
                            source: clientsMatchingSearch
                        });

                    }
                };
                xhr.open('get', url);
                xhr.send();

                $("#ClientAccount_Name").autocomplete({ // a bit mislabelled since this is for the autocomplete
                    source: clientsMatchingSearch,
                    delay: 500,
                    select: function (event, ui) {
                        $("#ClientAccountId").val(ui.item.clientId);
                        $("#ClientAccount_Name").text(ui.item.label);
                    },
                    minLength: 0
                });
            }
            createClientSelect();
        });
        
    </script>
}