@model Service_Billing.Models.Bill

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
@{
    IEnumerable<ServiceCategory> categories = ViewData["Categories"] as IEnumerable<ServiceCategory>;

}

<h1>Edit</h1>

<h4>Charge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="@Model.ClientName">Client: </label>
                <input asp-for="@Model.ClientName"id="clientInput" class="form-control" title="Begin entering a client name, and a list of matching clients will appear." />
                <span asp-validation-for="@Model.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ClientAccountId" id="clientIdInput" class="form-control" />
                <span asp-validation-for="@Model.ClientAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" id="title"/>
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.IdirOrUrl" class="control-label"></label>
                <input asp-for="@Model.IdirOrUrl" class="form-control" />
                <span asp-validation-for="@Model.IdirOrUrl" class="text-danger"></span>
            </div>
            @await Component.InvokeAsync("ServiceCategoryInput", new { categories =  categories, id = Model.ServiceCategoryId })
            <span asp-validation-for="@Model.ServiceCategoryId" class="text-danger"></span>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ServiceCategoryId" id="categoryIdInput" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Amount" class="control-label"></label>
                <input asp-for="@Model.Amount" class="form-control" id="amount"/>
                <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                <div class="input-info">
                    Typically, amount is calculated based on service and quantity, and shouldn't be changed. It can be overridden here if you have a good reason to do so.
                </div>
            </div>
            <div class="form-group">
                <label>UOM</label>
                <input id="uom" class="form-control" readonly="true" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.FiscalPeriod" class="control-label"></label>
                <input asp-for="@Model.FiscalPeriod" class="form-control" />
                <span asp-validation-for="@Model.FiscalPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Quantity" class="control-label"></label>
                <input asp-for="@Model.Quantity" class="form-control" id="quantity"/>
                <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TicketNumberAndRequester" class="control-label"></label>
                <input asp-for="@Model.TicketNumberAndRequester" class="form-control" />
                <span asp-validation-for="@Model.TicketNumberAndRequester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartDate" class="control-label"></label>
                <input asp-for="@Model.StartDate" class="form-control" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndDate" class="control-label"></label>
                <input asp-for="@Model.EndDate" class="form-control" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateModified" class="control-label"></label>
                <input asp-for="@Model.DateModified" class="form-control" readonly="true" />
                <span asp-validation-for="@Model.DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BillingCycle" class="control-label"></label>
                <input asp-for="@Model.BillingCycle" class="form-control" />
                <span asp-validation-for="@Model.BillingCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CreatedBy" class="control-label"></label>
                <input asp-for="@Model.CreatedBy" class="form-control" />
                <span asp-validation-for="@Model.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            calculateAmount = () => {
                var url = "../../Bills/GetBillAmount?serviceId=" + $("#categorySelect").val() + "&quantity=" + $("#quantity").val();
                var xhr = new XMLHttpRequest();
                xhr.responseType = "JSON";
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var response = JSON.parse(xhr.response);
                        $("#amount").val(response['amount']);
                        $("#uom").val(response['uom']);
                    }
                };
                xhr.open('get', url);
                xhr.send();
            }
            $("#categorySelect").on("change", (e) => {
                calculateAmount();
                if ($("#categorySelect").val() < 21) { //id's greater than 21 are older categories, with slightly different names and prices
                    $("#categoryWarning").hide();
                    $("#categoryIdInput").val($("#categorySelect").val());
                }
            });
            $("#quantity").on("change", (e) => {
                calculateAmount();
            });

            createClientSelect = () => {
                var clientsMatchingSearch = [];
                var url = "../../Bills/GetClients";
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        clientsMatchingSearch = [];
                        var data = JSON.parse(xhr.response);

                        for (const client in data) {
                            clientsMatchingSearch.push({ label: data[client].name, "clientId": data[client].id });
                        }

                        $("#clientInput").autocomplete({
                            source: clientsMatchingSearch
                        });
                    }
                };
                xhr.open('get', url);
                xhr.send();

                $("#clientInput").autocomplete({
                    source: clientsMatchingSearch,
                    delay: 500,
                    select: function(event, ui){
                        $("#clientIdInput").val(ui.item.clientId);
                        $("#clientInput").text(ui.item.label);
                    },
                    minLength: 0
                });
            }
            createClientSelect();
            calculateAmount();
        });
    </script>
}

