@using Service_Billing.ViewModels;
@model AllBillsViewModel

<h1>Bill info</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @Html.ActionLink("Current Quarter", "Index", new { quarterFilter = "current" }) | 
    @Html.ActionLink("Previous Quarter", "Index", new { quarterFilter = "previous" }) | 
    @Html.ActionLink("All Quarters", "Index", new { quarterFilter = "all" })
    <div>
        <a asp-controller="Bills"
           asp-action="Create">enter a new bill</a>
    </div>
    <h2>Fiscal Period: @ViewData["Quarter"]</h2>

    <div class="table-filter-section">
        <h3>Filter by...</h3>
        <form asp-action="Index" method="get">
            Client: <input type="text" name="clientFilter" value="@ViewData["ClientFilter"]" />
            Title: <input type="text" name="titleFilter" value="@ViewData["TitleFilter"]" />
            Service Category: <select name="categoryFilter" value="@ViewData["CategoryFilter"]">
                <option value="-1"></option>
                @foreach(ServiceCategory category in ViewBag.ServiceCategories)
                {
                    if (ViewData["CategoryFilter"] != null && category.ServiceId == (int)ViewData["CategoryFilter"])
                    {
                        <option value="@category.ServiceId" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.ServiceId">@category.Name</option>
                    }
                }
            </select>
            EA: <input type="text" name="authorityFilter" value="@ViewData["AuthorityFilter"]" />
            Created by me: <input type="checkbox" runat="server" name="meFilter" value="@ViewData["MeFilter"]" alt="must match your IDIR displayname, i.e. 'lastname, firstname Ministry'"/>
            <input type="text" name="quarterFilter" value="@ViewData["QuarterFilter"]" hidden />
            <input type="submit" value="Filter" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Title</th>
                <th scope="col">Service Category</th>
                @if (ViewData["Quarter"] == "all")
                {
                   <th>Fiscal Period</th>
                }
                <th scope="col">Amount</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">UOM</th>
                <th scope="col">Expense Authority</th>
                <th scope="col">Created By</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model.Bills)
            {
                var category = Model.ServiceCategories.FirstOrDefault(s => s.ServiceId == bill.ServiceCategoryId);
                var client = Model.ClientAccounts.FirstOrDefault(c => c.Id == bill.ClientAccountId);
                <tr>
                    <td>@bill.ClientName</td>
                    <td>@bill.Title</td>
                    <td>@{
                           
                            if(category != null)
                            {
                                @category.Name;
                            }
                        }
                        </td>
                    @if (ViewData["Quarter"] == "all")
                    {
                        <td>@bill.FiscalPeriod</td>
                    }
                    
                    <td>
                        @if (bill.Amount != null)
                        {
                            @String.Format("{0:.##}", bill.Amount)
                        }
                    </td>
                    @if(category != null)
                    {
                        <td>
                            @category.Costs
                        </td>
                        <td>
                            @bill.Quantity
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(category.UOM))
                            {
                                @category.UOM
                            }
                        </td>
                    }
                    else
                    {
                        <td>

                        </td>
                        <td>
                            @bill.Quantity
                        </td>
                        <td>

                        </td>
                    }
                    <td>
                        @if (client != null && !String.IsNullOrEmpty(client.ExpenseAuthorityName))
                        {
                            @client.ExpenseAuthorityName
                        } 
                    </td>
                    <td>
                        @bill.CreatedBy
                    </td>
                    <td>
                        <a asp-controller="Bills"
                           asp-action="Details"
                           asp-route-id="@bill.Id">See more</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    

</div>