@using Service_Billing.ViewModels;
@model BillViewModel
@{
    List<ServiceCategory> serviceCategories = ViewBag.ServiceCategories;
}

<h1>Bill info</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @Html.ActionLink("Current Quarter", "Index", new { quarter = "current" }) | 
    @Html.ActionLink("Previous Quarter", "Index", new { quarter = "previous" }) | 
    @Html.ActionLink("All Quarters", "Index", new { quarter = "all" })

    <h2>Fiscal Period: @ViewBag.Quarter</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Title</th>
                <th scope="col">Service Category</th>
                <th scope="col">Amount</th>
                @if(ViewBag.quarter == "all")
                {
                   <th>Fiscal Period</th>
                }
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model.Bills)
            {
                <tr>
                    <td>@bill.clientName</td>
                    <td>@bill.title</td>
                    <td>@{
                            var category = serviceCategories.FirstOrDefault(s => s.serviceId == bill.serviceCategoryId);
                            if(category != null)
                            {
                                @category.name;
                            }
                        }
                        </td>
                    <td>
                        @if(bill.amount != null)
                        {
                            @String.Format("{0:.##}", bill.amount);
                        }
                    </td>
                    @if (ViewBag.quarter == "all")
                    {
                        <td>@bill.fiscalPeriod</td>
                    }
                    <td>
                        <a asp-controller="Bills"
                           asp-action="Details"
                           asp-route-id="@bill.id">See more</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    

</div>