@using Service_Billing.ViewModels;
@model AllBillsViewModel

<h1>Bill info</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @Html.ActionLink("Current Quarter", "Index", new { quarter = "current" }) | 
    @Html.ActionLink("Previous Quarter", "Index", new { quarter = "previous" }) | 
    @Html.ActionLink("All Quarters", "Index", new { quarter = "all" })
    <div>
        <a asp-controller="Bills"
           asp-action="Create">enter a new bill</a>
    </div>
    <h2>Fiscal Period: @ViewBag.Quarter</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Title</th>
                <th scope="col">Service Category</th>
                @if(ViewBag.quarter == "all")
                {
                   <th>Fiscal Period</th>
                }
                <th scope="col">Amount</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">UOM</th>
                <th scope="col">Expense Authority</th>
                <th scope="col">Created By</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model.Bills)
            {
                var category = Model.ServiceCategories.FirstOrDefault(s => s.ServiceId == bill.serviceCategoryId);
                var client = Model.ClientAccounts.FirstOrDefault(c => c.Id == bill.clientAccountId);
                <tr>
                    <td>@bill.clientName</td>
                    <td>@bill.title</td>
                    <td>@{
                           
                            if(category != null)
                            {
                                @category.Name;
                            }
                        }
                        </td>
                    @if (ViewBag.quarter == "all")
                    {
                        <td>@bill.fiscalPeriod</td>
                    }
                    
                    <td>
                        @if (bill.amount != null)
                        {
                            @String.Format("{0:.##}", bill.amount)
                        }
                    </td>
                    @if(category != null)
                    {
                        <td>
                            @category.Costs
                        </td>
                        <td>
                            @bill.quantity
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(category.UOM))
                            {
                                @category.UOM
                            }
                        </td>
                    }
                    else
                    {
                        <td>

                        </td>
                        <td>
                            @bill.quantity
                        </td>
                        <td>

                        </td>
                    }
                    <td>
                        @if (client != null && !String.IsNullOrEmpty(client.ExpenseAuthorityName))
                        {
                            @client.ExpenseAuthorityName
                        } 
                    </td>
                    <td>
                        @bill.createdBy
                    </td>
                    <td>
                        <a asp-controller="Bills"
                           asp-action="Details"
                           asp-route-id="@bill.Id">See more</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    

</div>