@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Service_Billing.ViewModels;
@using System.Security.Claims
@model AllBillsViewModel;
@{
    IEnumerable<Ministry> ministries = ViewData["Ministries"] as IEnumerable<Ministry>;
    ChargeIndexSearchParamsModel searchModel = ViewData["searchModel"] as ChargeIndexSearchParamsModel;
    if (string.IsNullOrEmpty(searchModel?.QuarterFilter))
        searchModel.QuarterFilter = "Current Quarter";
    bool current = searchModel.QuarterFilter == "Current Quarter";
    bool previous = searchModel.QuarterFilter == "Previous Quarter";
    bool next = searchModel.QuarterFilter == "Next Quarter";
    bool all = searchModel.QuarterFilter == "All Quarters";
}
@{
    var user = User as ClaimsPrincipal;
    var isMinistryClient = user?.IsMinistryClient(AuthorizationService) ?? false;
    var nameClaim = ViewData["NameClaim"] as string ?? "";
}

<h1>Service Billing Charges</h1>

@if (!Model.Bills.Any())
{
    if (searchModel?.ClientNumber > 0)
    {
        <h3>No charges for client number @searchModel?.ClientNumber have been found for the selected fiscal period. You can try searching previous or all quarters, or clearing other search filters.</h3>
    }
    else
    {
        <h3>
            No charges matching your search parameters have been found. Try searching in another quarter,
            or change your filter parameters.
        </h3>
    }
}
<div class="row row-cols-1 row-cols-md-3 g-4">

    <h2>@searchModel?.QuarterFilter</h2>

    <div class="table-filter-section">
        <form asp-action="Index" method="get">
            <fieldset>
                <legend>Filter by...</legend>
                <div class="ui-section">
                    <div>
                        <div id="quarter-select">
                            <label for="quarterFilter">Select Quarter</label>
                            <select name="quarterFilter">
                                <option value="current" selected="@current">Current</option>
                                <option value="previous" selected="@previous">Previous</option>
                                <option value="next" selected="@next">Next</option>
                                <option value="all" selected="@all">All</option>
                            </select>
                        </div>
                        <label for="ministryFilter">Organization</label>
                        <select name="ministryFilter">
                            <option value="" disabled selected hidden></option>
                            @if (ministries != null)
                            {
                                foreach (Ministry ministry in ministries)
                                {
                                    string selectedMinistry = "";
                                    if (!String.IsNullOrEmpty(searchModel?.MinistryFilter))
                                        selectedMinistry = searchModel.MinistryFilter;

                                    if (!String.IsNullOrEmpty(selectedMinistry) && selectedMinistry == ministry.Acronym)
                                    {
                                        <option selected="true" value="@ministry.Acronym">@ministry.Acronym - @ministry.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@ministry.Acronym">@ministry.Acronym - @ministry.Title</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <label for="titleFilter">Program</label>
                        <input type="text" name="titleFilter" value="@searchModel?.TitleFilter" />
                        <label for="categoryFilter">Service Category</label>
                        <select name="categoryFilter" id="categoryFilter" value="@searchModel?.CategoryFilter">
                            <option value="-1"></option>
                            @foreach (ServiceCategory category in ViewBag.ServiceCategories)
                            {
                                if (category.IsActive)
                                {
                                    if (searchModel?.CategoryFilter > 0 && category.ServiceId == searchModel?.CategoryFilter)
                                    {
                                        <option value="@category.ServiceId" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.ServiceId">@category.Name</option>
                                    }
                                }
                            }
                        </select>
                        <label for="authorityFilter">Expense Authority</label>
                        <input type="text" name="authorityFilter" value="@searchModel?.AuthorityFilter" />
                        <label for="clientNumber">GDX Client No.</label>
                        <input type="number" name="clientNumber" value="@searchModel?.ClientNumber" />

                        <label for="keyword">Keyword</label>
                        <input type="text" name="keyword" value="@searchModel.Keyword" />
                        @* <label for="inactive">Include Inactive</label>
                        <input type="checkbox" name="inactive" checked="@ViewData["Inactive"]" />
                        @ViewData["Inactive"] *@
                    </div>
                    <input type="text" name="quarterFilter" value="@searchModel.QuarterFilter" hidden />
                </div>
                <div class="ui-section-buttons">
                    <div class="option-buttons">
                        <input type="submit" value="Filter" class="btn btn-default" /> |
                        <a asp-action="Index">Back to Full List</a>
                        <div>Found @Model.Bills.Count() results</div>
                    </div>

                </div>
            </fieldset>
            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
            {
                <div class="create-new-button">
                    <input type="submit" value="Create New Charge" formaction="/Bills/Create" formmethod="get" />
                </div>
            }
            <div class="export-button">
                <input type="submit" value="Export to CSV" formaction="Bills/WriteToCSV" formmethod="get" title="Based on filter settings, not necessarily what the list below displays." />
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
                {
                    <input type="submit" value="Run Report" formaction="/Bills/ShowReport" formmethod="get" title="Based on filter settings, not necessarily what the list below displays." />
                }
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">GDX Client No. and Account Details</th>
                <th scope="col">GDX Client Name</th>
                <th scope="col">Program</th>
                <th scope="col">Fiscal Period</th>
                <th scope="col">URL or IDIR</th>
                <th scope="col">Service Category</th>
                @if (searchModel.QuarterFilter == "All Quarters")
                {
                    <th>Fiscal Period</th>
                }
                <th scope="col">Amount</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">UOM</th>
                <th scope="col">Aggregated Financial Code</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Expense Authority</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model.Bills)
            {
                var category = bill.ServiceCategory;
                var client = bill.ClientAccount;

                var hideRow = isMinistryClient
                && (!nameClaim.IsContainedIgnoringOrderAndCase(client?.ExpenseAuthorityName ?? ""));

                <tr style="@(hideRow ? "display:none;" : "")">
                    <td>
                        <a asp-controller="ClientAccount"
                           asp-action="Details"
                           asp-route-id="@bill.ClientAccountId">@bill.ClientAccountId</a>
                    </td>
                    <td>@bill.ClientName</td>
                    <td>@bill.Title</td>
                    <td>@bill.FiscalPeriod</td>
                    <td>@bill.IdirOrUrl</td>
                    <td>
                        @{

                            if (category != null)
                            {
                                @category.Name
                                ;
                            }
                        }
                    </td>
                    @if (searchModel?.QuarterFilter == "All Quarters")
                    {
                        <td>@bill.FiscalPeriod</td>
                    }

                    <td>
                        @if (bill.Amount != null)
                        {
                            @String.Format("${0:.##}", bill.Amount)
                        }
                    </td>
                    @if (category != null)
                    {
                        <td>
                            $@category.Costs
                        </td>
                        <td>
                            @bill.Quantity
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(category.UOM))
                            {
                                @category.UOM
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                        <td>
                            @bill.Quantity
                        </td>
                        <td>
                        </td>
                    }
                    <td>
                        @bill.AggregateGLCode
                    </td>
                    <td>
                        @bill.StartDate
                    </td>
                    <td>
                        @bill.EndDate
                    </td>
                    <td>
                        @if (client != null && !String.IsNullOrEmpty(client.ExpenseAuthorityName))
                        {
                            @client.ExpenseAuthorityName
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

