@using Service_Billing.ViewModels;

@{
    ViewData["Title"] = "Financial Reports";
    Layout = "_Layout";
}

@model GeneratedReportViewModel;

@{
    decimal? total = 0;
}
@if(!String.IsNullOrEmpty(Model.BillingQuarter))
{
    <h1>Summary of Charges: @Model.BillingQuarter</h1>
}
else
{
<h1>Summary of Charges</h1>
}
@if(!String.IsNullOrEmpty(Model.Ministry))
{
    <h3>Ministry: @Model.Ministry</h3>
}
@if (!String.IsNullOrEmpty(Model.Service))
{
    <h3>Service Category: @Model.Service</h3>
}
@if (!String.IsNullOrEmpty(Model.Authority))
{
    <h3>Expense Authority: @Model.Authority</h3>
}
@if (Model.ClientNumber > 0)
{
    <h3>Client Number: @Model.ClientNumber</h3>
}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <form asp-action="ReportToExcel" method="post">
        @foreach(var kvp in Model.ServicesAndSums)
        {<!-- Oh man, was this ever a pain.-->
            Guid guid = Guid.NewGuid();
            <input type="text" name="Model.ServicesAndSums[@guid].Key" value="@kvp.Key" hidden/>
            <input type="text" name="Model.ServicesAndSums[@guid].Value" value="@kvp.Value" hidden/>
            <input type="hidden" name="Model.ServicesAndSums.Index" value="@guid" />
        }
        <input type="submit" value="Download as Excel" />
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ServiceCategory</th>
                <th>Amount</th>
                <th>Grand Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach(KeyValuePair<string, decimal?> serviceAndSum in Model.ServicesAndSums)
            {
                total += @serviceAndSum.Value;
                <tr>
                    <td>@serviceAndSum.Key</td>
                    @if(serviceAndSum.Value != null && serviceAndSum.Value != 0)
                    {
                        <td class="report-amount">@string.Format("${0:#,##0.##}", serviceAndSum.Value)</td>
                    }
                </tr>
            }
            <tr>
                <td class="report-total-label"></td>
                <td class="report-total">@string.Format("${0:#,##0.##}", total)</td>
            </tr>
        </tbody>
    </table>
</div>