@model Service_Billing.ViewModels.ContactSelectViewModel
@{
    int listSize = Model.Contacts.Count() + 1;
}

<div class="contactDisplay">
    @if(Model != null && Model.Contacts != null)
    {
        <select asp-for="@Model.elementId" title="Select a contact" id="@Model.elementId" class="contactSelect" size="@listSize">
            <option value=""></option>
            @foreach(SelectListItem contact in Model.Contacts)
            {
                <option value="@contact.Value">@contact.Value</option>
            }
        </select>
    }
</div>