@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="text-center">
   
@*     @if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
    {
        <p>This paragraph is displayed because you're in the FO role. Good work!'.</p>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireOwnerRole")).Succeeded)
    {
        <p>This paragraph is displayed because you're in the owner role. Good work!'.</p>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireUserRole")).Succeeded)
    {
        <p>This paragraph is displayed because you're in the owner role. Good work!'.</p>
    } *@
</div>
<div id="my-accounts"></div>
<div id="my-charges"></div>
@* <div>
    @Html.ActionLink("Bills Index", "Index", "Bills")
</div>
<div>
    @Html.ActionLink("Client Account Index", "Index", "ClientAccount")
</div>
<div>
    @Html.ActionLink("Client Intake Form", "Intake", "ClientAccount")
</div>
<div>
    @Html.ActionLink("Service Categories", "Index", "ServiceCategory")
</div>
<div>
    @Html.ActionLink("See Accounts and Charges You are a Contact On", "CurrentUserAccounts", "ClientAccount")
</div>
 *@
