@model Service_Billing.ViewModels.CreateServiceViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>ServiceCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.service.GDXBusArea" class="control-label"></label>
                <input asp-for="@Model.service.GDXBusArea" class="form-control" id="busArea"/>
                <span asp-validation-for="@Model.service.GDXBusArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="@Model.service.Name" class="control-label"></label>
                <input asp-for="@Model.service.Name" class="form-control" />
                <span asp-validation-for="@Model.service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.service.Costs" class="control-label"></label>
                <input asp-for="@Model.service.Costs" class="form-control" />
                <span asp-validation-for="@Model.service.Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.service.Description" class="control-label"></label>
                <input asp-for="@Model.service.Description" class="form-@Model.service." />
                <span asp-validation-for="@Model.service.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="@Model.service.IsActive" class="control-label"></label>
                <input class="form-check-input" asp-for="@Model.service.IsActive" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.service.UOM" class="control-label"></label>
                @* <input asp-for="UOM" class="form-control" /> *@
                <select asp-for="@Model.service.UOM" class="form-control">
                    <option value=""></option>
                    <option value="Month">Month</option>
                    <option value="Hr">Hour</option>
                    <option value="Each">Each</option>
                </select>
                <span asp-validation-for="@Model.service.UOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.service.ServiceOwner" class="control-label"></label>
                <input asp-for="@Model.service.ServiceOwner" class="form-control" id="owner" />
                <span asp-validation-for="@Model.service.ServiceOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";

            $("#owner").autocomplete({
                source: contactListUrl,
                delay: 500
            });

            const busAreas = @Html.Raw(Json.Serialize(Model.busAreas));
            $("#busArea").autocomplete({
                source: busAreas,
                delay: 500
            });
        });

    </script>
}
