@model Service_Billing.ViewModels.CreateServiceViewModel

@{
    ViewData["Title"] = "Create a Service Category";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Service Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Business Area</label>
               @*  <input asp-for="@Model.Service.BusArea.Acronym" class="form-control" id="busArea" /> *@
                <select asp-for="@Model.Service.BusAreaId" class="form-control" id="areaSelect">
                    <option value="-1"></option>
                    @foreach(BusinessArea busArea in Model.BusAreas)
                    {
                        <option value="@busArea.Id">@busArea.Acronym  (@busArea.Name)</option>
                    }

                </select>
                <span asp-validation-for="@Model.Service.BusArea.Acronym" class="text-danger"></span>
                <a onclick="openBusAreaDialog()">Create a new Business Area?</a>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Service.Name" class="control-label">Program Name</label>
                <input asp-for="@Model.Service.Name" class="form-control" />
                <span asp-validation-for="@Model.Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Service.Description" class="control-label"></label>
                <input asp-for="@Model.Service.Description" class="form-control" data-val="true" data-val-required="Provide a short description of this service using active voice and plain language. Avoid acronyms." />
                <span asp-validation-for="@Model.Service.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="@Model.Service.IsActive" class="control-label"></label>
                <input class="form-check-input" asp-for="@Model.Service.IsActive" checked="true" title="Charges for inactive services are not carried over to the next billing cycle, regardless of their UOM" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Service.UOM" class="control-label">Unit of Measure</label>
                @* <input asp-for="UOM" class="form-control" /> *@
                <select asp-for="@Model.Service.UOM" class="form-control" data-val="true" data-val-required="Select the unit of measure for this service: each, hour, month.">
                    <option value=""></option>
                    <option value="Month">Month</option>
                    <option value="Hr">Hour</option>
                    <option value="Each">Each</option>
                </select>
                <span asp-validation-for="@Model.Service.UOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Service.Costs" class="control-label"></label>
                <input asp-for="@Model.Service.Costs" class="form-control" />
                <span asp-validation-for="@Model.Service.Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Service.ServiceOwner" class="control-label"></label>
                <input asp-for="@Model.Service.ServiceOwner" class="form-control" id="owner" />
                <span asp-validation-for="@Model.Service.ServiceOwner" class="text-danger"></span>
            </div>
            <div id="new-business-area-dialog" title="Create a new business area?">
                <p>This typically should not be needed. Make sure you really want to do this, and that there isn't an existing business area that your service should fall under</p>
                <div class="dialog-input-section">
                    <label class="control-label">Acronym or short name</label>
                    <input asp-for="@Model.NewBusAreaAcronym" id="acronym" />
                </div>
                <div class ="dialog-input-section">
                    <label class="control-label">Name</label>
                    <input asp-for="@Model.NewBusAreaName" id="name" />
                </div>
            </div>
                <input asp-for="@Model.NewBusAreaAcronym" id="acronymHidden" hidden="true"/>
                <input asp-for="@Model.NewBusAreaName" id="nameHidden" hidden="true"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const openBusAreaDialog = ((val) => {
            $("#new-business-area-dialog").dialog("open");
        });

        const setNewBusinessArea = (() => {
            var option = document.createElement("option");
            var text1 = $("#acronym").val();
            $("#acronymHidden").val(text1);
            var text2 = $("#name").val();
            $("#nameHidden").val(text2);
            option.text = `${text1} (${text2})`;
            option.value = -1;
            option.selected = true;
            var select = document.getElementById("areaSelect");
            select.appendChild(option);
            $("#new-business-area-dialog").dialog("close");
        });

        $(document).ready(function () {
            // nav link highlighting
            $('li').removeClass("active-nav-link");
            $('#create-service-link').addClass("active-nav-link");
            const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";

            $("#owner").autocomplete({
                source: contactListUrl,
                delay: 500
            });

            $(function () {
                $("#new-business-area-dialog").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    autoOpen: false,
                    buttons: {
                        "Create new Business Area": function () {
                            $(this).dialog("close");
                            setNewBusinessArea();
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });

    </script>
}
