@model Service_Billing.Models.ServiceCategory
@{
    ViewData["Title"] = "Service Category Details";
    Layout = "_Layout";
}
@{
    var isNew = (ViewData["isNew"] != null && (bool?)ViewData["isNew"] == true) ? "true" : "false";
}
<h1>Details</h1>
<div>
    <h4>ServiceCategory</h4>
    <hr />
    <table>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.BusArea.Acronym)
            </td>
            <td>
                @Html.DisplayFor(model => model.BusArea.Acronym)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.Costs)
            </td>
            <td>
                $@Html.DisplayFor(model => model.Costs)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.IsActive)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.UOM)
            </td>
            <td>
                @Html.DisplayFor(model => model.UOM)
            </td>
        </tr>
        <tr>
            <td class="table-right">
                @Html.DisplayNameFor(model => model.ServiceOwner)
            </td>
            <td>
                @Html.DisplayFor(model => model.ServiceOwner)
            </td>
        </tr>
    </table>
</div>
<div class="bottom-nav">
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            if (@isNew) {
                $("#toast-title-text").html("Success!");
                $("#toast-header-small-text").html"New Service Category created");
                $("#toast-body").html("Your new Service Category was created, and entered in the database");
                $("#info-toast").toast("show");
            }
        });
    </script>
}
