﻿@using Microsoft.Graph;

@model Service_Billing.ViewModels.ClientCreateViewModel

@{
    ViewData["Title"] = "Create Client Account";
    Layout = "_Layout";
}
@{
    
}


<h1>Create Client Account</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="@Model.Account.OrganizationId" class="control-label"> Organization</label>
                <select asp-for="@Model.Account.OrganizationId" class="form-control" data-val="true"
                data-val-required="You must select a ministry or other organization from the list">
                    <option value="" disabled selected hidden>Select a ministry or organization</option>
                    @if (Model.Organizations != null)
                    {
                        foreach (Ministry ministry in Model.Organizations)
                        {
                            <option value="@ministry.Id">@ministry.Acronym - @ministry.Title</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.Account.OrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DivisionOrBranch" class="control-label">Division or Branch Name</label>
                <input asp-for="@Model.DivisionOrBranch" class="form-control" data-val="true"
                data-val-required="Please enter a value for the name of this client. It will be prepended by the Organization acronym"/>
                <span asp-validation-for="@Model.DivisionOrBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.ClientNumber" class="control-label">CAS Client Number</label>
                <input type="number" asp-for="@Model.Account.ClientNumber" class="form-control" data-val="true"
                data-val-required="A CAS Client Number must be provided."/>
                <span asp-validation-for="@Model.Account.ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group" id="intake-contacts">
                <h3>Contacts</h3>
                <div id="intake-contacts-instructions">
                Begin typing in your contact's last name. Select the name from the the dropdown list.
                <br/>
                Contacts matching your input will display in a dropdown menu for you to pick.
                </div>
                 <div class="form-group">
                  <label class="control-label">Primary Contacts</label>
                 @*  <input asp-for="@Model.Account.PrimaryContact" class="form-control" data-val="true"
                  data-val-required="Pleasae include a Primary Contact"/>
                  <span asp-validation-for="@Model.Account.PrimaryContact" class="text-danger"></span> *@
                  <input asp-for="@Model.PrimaryContacts[0]" class="form-control" data-val="true"
                  data-val-required="Please include at least one Primary Contact"/>
                  <input asp-for="@Model.PrimaryContacts[1]" class="form-control" />
                  <a onclick="showSecondPrimaryInput()">Add a second Primary Contact?</a>
                </div>
                 <div class="form-group">
                  <label asp-for="@Model.Approvers" class="control-label">Approvers</label>
                  <span id="approver-inputs">
                    <input class="form-control" asp-for="@Model.Approvers[0]" data-val="true"
                          data-val-required="Please include an Approver contact"/>
                   
                  </span>
                  <a onclick="addApproverInput()">Add another approver?</a>
                  <span asp-validation-for="@Model.Account.Approver" class="text-danger"></span>
                </div>
                 @* <div class="form-group">
                  <label asp-for="@Model.Account.FinancialContact" class="control-label">Financial Contacts</label>
                  <input class="form-control" asp-for="@Model.Account.FinancialContact" data-val="true"
                   data-val-required="Please include a financial contact"/>
                  <span asp-validation-for="@Model.Account.FinancialContact" class="text-danger"></span>
                </div> *@
                 <div class="form-group">
                  <label asp-for="@Model.FinancialContacts" class="control-label">Financial Contacts</label>
                  <span id="financial-inputs">
                    <input class="form-control" asp-for="@Model.FinancialContacts[0]" data-val="true"
                          data-val-required="Please include a financial contact"/>
                   
                  </span>
                  <a onclick="addFinancialInput()">Add another financial contact?</a>
                  <span asp-validation-for="@Model.Account.FinancialContact" class="text-danger"></span>
                </div>
           <div class="form-group">
                <label asp-for="@Model.ExpenseAuthorityContact" class="control-label">CAS Expense Authority</label>
                <input class="form-control" asp-for="@Model.ExpenseAuthorityContact" data-val="true" 
                 data-val-required="Please include the name of a CAS Expense Authority"/>
                <span asp-validation-for="@Model.ExpenseAuthorityContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.ResponsibilityCentre" class="control-label">CAS Responsibility Centre</label>
                <input asp-for="@Model.Account.ResponsibilityCentre" class="form-control" maxlength="5" data-val="true" data-val-required="Please provide the five-digit responsibility centre code from the Corporate Accounting System." />
                <span asp-validation-for="@Model.Account.ResponsibilityCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.ServiceLine" class="control-label">CAS Service Line</label>
                <input asp-for="@Model.Account.ServiceLine" class="form-control" maxlength="5" data-val="true" data-val-required="Please provide the five-digit service line code from the Corporate Accounting System." />
                <span asp-validation-for="@Model.Account.ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.STOB" class="control-label">CAS STOB Number</label>
                <input type="number" asp-for="@Model.Account.STOB" class="form-control" maxlength="4" data-val="true" data-val-required="Please provide the ministry Standard Object of Expenditure (STOB) number." />
                <span asp-validation-for="@Model.Account.STOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.Project" class="control-label">Ministry Project Code</label>
                <input asp-for="@Model.Account.Project" class="form-control" data-val="true" data-val-required="Please provide a ministry project code."/>
                <span asp-validation-for="@Model.Account.Project" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.IsApprovedByEA">EA Approved?</label>

                <input type="checkbox" asp-for="@Model.Account.IsApprovedByEA" />
                <span asp-validation-for="@Model.Account.IsApprovedByEA" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="@Model.Account.Notes" class="control-label"></label>
                <textarea asp-for="@Model.Account.Notes" class="form-control" value="@Model.Account.Notes" > </textArea>
                <span asp-validation-for="@Model.Account.Notes" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        var i = 1;
        var j = 1;
        const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";
        $(document).ready(function () {
             // nav link highlighting
            $('li').removeClass("active-nav-link");
            $('#create-account-link').addClass("active-nav-link");

            $("#PrimaryContacts_0_").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#PrimaryContacts_1_").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#FinancialContacts_0_").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#Approvers_0_").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#ExpenseAuthorityContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });

            $("#casClientNumber").on("keyup", (e) => {
                if ($("#casClientNumber").val().length > 3) {
                    $("#casClientNumber").val($("#casClientNumber").val().substring(0, 3));
                }
            });
            $("#Account_STOB").on("keyup", (e) => {
                if ($("#Account_STOB").val().length > 3) {
                    $("#Account_STOB").val($("#Account_STOB").val().substring(0, 4));
                }
            });
            $("#Account_ServiceLine").on("keyup", (e) => {
                if ($("#Account_ServiceLine").val().length > 5) {
                    $("#Account_ServiceLine").val($("#Account_ServiceLine").val().substring(0, 5));
                }
            });
            $("#Account_ResponsibilityCentre").on("keyup", (e) => {
                if ($("#Account_ResponsibilityCentre").val().length > 5) {
                    $("#Account_ResponsibilityCentre").val($("#Account_ResponsibilityCentre").val().substring(0, 5));
                }
            });
            $("#PrimaryContacts_1_").hide();
        });
        const addApproverInput = (() => {
            var html = `<input class="form-control" asp-for="Approvers_${i}_" name="Approvers\[${i}\]" id="approver_${i}" />`;
            $("#approver-inputs").append(html);
             $(`#approver_${i}`).autocomplete({
                source: contactListUrl,
                delay: 500
            });
            i++;
        });
         const addFinancialInput = (() => {
            var html = `<input class="form-control" asp-for="FinancialContacts_${j}_" name="FinancialContacts\[${j}\]" id="financial_${j}" />`;
            $("#financial-inputs").append(html);
             $(`#financial_${j}`).autocomplete({
                source: contactListUrl,
                delay: 500
            });
            j++;
        });
        const showSecondPrimaryInput = (() => {
            $("#PrimaryContacts_1_").show();
        });
    </script>
}
