@using Microsoft.Graph;

@model Service_Billing.ViewModels.ClientCreateViewModel

@{
    ViewData["Title"] = "Create Client Account";
    Layout = "_Layout";
}
@{
    IEnumerable<Ministry> ministries = ViewData["Ministries"] as IEnumerable<Ministry>;
}

<h1>Create Client Account</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="orgSelect" class="control-label">Organization</label>
                <select asp-for="@Model.Account.OrganizationId" class="form-control" id="orgSelect">
                    <option value="" disabled selected hidden>Select a ministry or organization</option>
                    @if (ministries != null)
                    {
                        foreach (Ministry ministry in ministries)
                        {
                            <option value="@ministry.Id">@ministry.Acronym - @ministry.Title</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DivisionOrBranch" class="control-label">Division or Branch Name</label>
                <input asp-for="@Model.DivisionOrBranch" id="clientInput" class="form-control" />
                <span asp-validation-for="@Model.DivisionOrBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CAS Client Number</label>
                <input type="number" asp-for="@Model.Account.ClientNumber" class="form-group" />
                <span asp-validation-for="@Model.Account.ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group" id="intake-contacts">
                <h3>Contacts</h3>
                <div id="intake-contacts-instructions">
                Begin typing in your contact's last name. Select the name from the the dropdown list.
                <br/>
                Contacts matching your input will display in a dropdown menu for you to pick.
                </div>

                <label asp-for="@Model.Account.PrimaryContact" class="control-label">Primary Contact</label>
                <input asp-for="@Model.Account.PrimaryContact" class="form-control" id="primaryContact" />
                <span asp-validation-for="@Model.Account.PrimaryContact" class="text-danger"></span>

                <label asp-for="@Model.Account.Approver" class="control-label">Approvers</label>
                <input class="form-control" asp-for="@Model.Account.Approver" id="approverContact" />
                <span asp-validation-for="@Model.Account.Approver" class="text-danger"></span>

                <label asp-for="@Model.Account.FinancialContact" class="control-label">Financial Contacts</label>
                <input class="form-control" asp-for="@Model.Account.FinancialContact" id="financialContact" />
                <span asp-validation-for="@Model.Account.FinancialContact" class="text-danger"></span>

                <label asp-for="@Model.Account.ExpenseAuthorityName" class="control-label">CAS Expense Authority</label>
                <input class="form-control" asp-for="@Model.Account.ExpenseAuthorityName" id="authorityContact" data-val="true" data-val-required="Please include the name of the ministry expense authority."/>
                <div id="authorityContactSelect">
                </div>
                <span asp-validation-for="@Model.Account.ExpenseAuthorityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.ResponsibilityCentre" class="control-label">CAS Responsibility Centre</label>
                <input asp-for="@Model.Account.ResponsibilityCentre" class="form-control" data-val="true" data-val-required="Please provide the five-digit responsibility centre code from the Corporate Accounting System." />
                <span asp-validation-for="@Model.Account.ResponsibilityCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.ServiceLine" class="control-label">CAS Service Line</label>
                <input asp-for="@Model.Account.ServiceLine" class="form-control" maxlength="5" id="casServiceLine" data-val="true" data-val-required="Please provide the five-digit service line code from the Corporate Accounting System." />
                <span asp-validation-for="@Model.Account.ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.STOB" class="control-label">CAS STOB Number</label>
                <input type="number" asp-for="@Model.Account.STOB" class="form-control" maxlength="4" id="casSTOBNumber" data-val="true" data-val-required="Please provide the ministry Standard Object of Expenditure (STOB) number." />
                <span asp-validation-for="@Model.Account.STOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.Project" class="control-label">CAS Project Number</label>
                <input asp-for="@Model.Account.Project" class="form-control" data-val="true" data-val-required="Please provide a ministry project code."/>
                <span asp-validation-for="@Model.Account.Project" class="text-danger" OnServerValidate="ServerValidation"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.IsApprovedByEA">EA Approved?</label>

                <input type="checkbox" asp-for="@Model.Account.IsApprovedByEA" />
                <span asp-validation-for="@Model.Account.IsApprovedByEA" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="@Model.Account.Notes" class="control-label"></label>
                <textarea asp-for="@Model.Account.Notes" class="form-control" value="@Model.Account.Notes" > </textArea>
                <span asp-validation-for="@Model.Account.Notes" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
             // nav link highlighting
            $('li').removeClass("active-nav-link");
            $('#create-account-link').addClass("active-nav-link");
            const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";

            $("#primaryContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#financialContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#approverContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#authorityContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });

            $("#casClientNumber").on("keyup", (e) => {
                if ($("#casClientNumber").val().length > 3) {
                    $("#casClientNumber").val($("#casClientNumber").val().substring(0, 3));
                }
            });
            $("#casSTOBNumber").on("keyup", (e) => {
                if ($("#casSTOBNumber").val().length > 3) {
                    $("#casSTOBNumber").val($("#casSTOBNumber").val().substring(0, 4));
                }
            });
            $("#casServiceLine").on("keyup", (e) => {
                if ($("#casServiceLine").val().length > 3) {
                    $("#casServiceLine").val($("#casServiceLine").val().substring(0, 5));
                }
            });
        });
    </script>
}
