@model Service_Billing.Models.ClientAccount

@{
    ViewData["Title"] = "Details";
    ClientTeam? clientTeam = ViewData["clientTeam"] as ClientTeam;
}

<h1>Client Account Information</h1>

<div>
    <h4>@Model.accountId-@Model.clientName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.responsibilityCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.responsibilityCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expense_Authority_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expense_Authority_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.servicesEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.servicesEnabled)
        </dd>
        <dt class="col-sm-2">
            Client Team 
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateCreated)
        </dd>
        <dd class="col-sm-10" name="clientTeam">
          @*  @clientTeam.teamName*@
            <partial name="_ClientTeam" model="@clientTeam" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.accountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
