@model Service_Billing.Models.ClientAccount

@{
    ViewData["Title"] = "Details";
    ClientTeam? clientTeam = ViewData["clientTeam"] as ClientTeam;
    var parms = new Dictionary<string, string>
            {
                { "clientNumber", Model.ClientNumber.ToString() }
            };
}

<h1>Client Account Information</h1>

<div>
    <h4>@Model.Id-@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNumber)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Bills"
               asp-action="Index"
               asp-all-route-data="parms"
            title="See charges associated with this account">@Model.ClientNumber</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLine)
        </dt>
        <dd class = "col-sm-10">
            @String.Format("{0:00000}", Model.ServiceLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STOB)
        </dt>
        <dd class = "col-sm-10">
            @String.Format("{0:0000}", Model.STOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseAuthorityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseAuthorityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesEnabled)
        </dd>
        <dd class="col-sm-10" name="clientTeam">
            <partial name="_ClientTeam" model="@clientTeam" />
        </dd>
        <br/>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CasClientNumber)
        </dt>
        <dd class="col-sm-10">
            @if(Model.CasClientNumber != null && Model.CasClientNumber > 0)
            {
                String.Format("{0:000}", Model.CasClientNumber);
            }
            else
            {
                <br/>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
