@model Service_Billing.Models.ClientAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNumber" class="control-label"></label>
                <input asp-for="ClientNumber" class="form-control" value="@Model.ClientNumber" />
                <span asp-validation-for="ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibilityCentre" class="control-label"></label>
                <input asp-for="ResponsibilityCentre" class="form-control" value="@Model.ResponsibilityCentre" />
                <span asp-validation-for="ResponsibilityCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLine" class="control-label"></label>
                <input asp-for="ServiceLine" class="form-control" value="@Model.ServiceLine" />
                <span asp-validation-for="ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STOB" class="control-label"></label>
                <input asp-for="STOB" class="form-control" value="@String.Format("{0:0000}", Model.STOB)" />
                <span asp-validation-for="STOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" value="@Model.Project" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseAuthorityName" class="control-label"></label>
                <input asp-for="ExpenseAuthorityName" class="form-control" value="@Model.ExpenseAuthorityName" />
                <span asp-validation-for="ExpenseAuthorityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesEnabled" class="control-label"></label>
                <input asp-for="ServicesEnabled" class="form-control" value="@Model.ServicesEnabled" />
                <span asp-validation-for="ServicesEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasClientNumber" class="control-label"></label>
                <input asp-for="CasClientNumber" class="form-control" value="@String.Format("{0:000}", Model.CasClientNumber)" />
                <span asp-validation-for="CasClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
