@model Service_Billing.Models.ClientAccount

@{
    ViewData["Title"] = "Edit Client Account";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>ClientAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ClientNumber" class="control-label"></label>
                <input asp-for="@Model.ClientNumber" class="form-control" value="@Model.ClientNumber" data-val="true" data-val-required="A CAS Client Number must be provided"/>
                <span asp-validation-for="@Model.ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ResponsibilityCentre" class="control-label"></label>
                <input asp-for="@Model.ResponsibilityCentre" class="form-control" value="@Model.ResponsibilityCentre" data-val="true" data-val-required="Please Provide a five character RC code"/>
                <span asp-validation-for="@Model.ResponsibilityCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ServiceLine" class="control-label"></label>
                <input asp-for="@Model.ServiceLine" class="form-control" value="@String.Format("{0:00000}", Model.ServiceLine)" maxlength="5" data-val="true" data-val-required="Please Provide a five character Service Line code" />
                <span asp-validation-for="@Model.ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.STOB" class="control-label"></label>
                <input asp-for="@Model.STOB" class="form-control" value="@String.Format("{0:0000}", Model.STOB)" maxlength="4" data-val-required="Please Provide a four character SToB number" />
                <span asp-validation-for="@Model.STOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project" class="control-label"></label>
                <input asp-for="@Model.Project" class="form-control" value="@Model.Project" />
                <span asp-validation-for="@Model.Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ExpenseAuthorityName" class="control-label"></label>
                <input asp-for="@Model.ExpenseAuthorityName" class="form-control" value="@Model.ExpenseAuthorityName" />
                <span asp-validation-for="@Model.ExpenseAuthorityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Notes" class="control-label"></label>
                <textarea asp-for="@Model.Notes" class="form-control" value="@Model.Notes" > </textArea>
                <span asp-validation-for="@Model.Notes" class="text-danger"></span>
 

                <label asp-for="@Model.PrimaryContact" class="control-label">Primary Contact</label>
                <input asp-for="@Model.PrimaryContact" class="form-control" id="primaryContact" placeholder="start entering surname to search" />
       
                <span asp-validation-for="@Model.PrimaryContact" class="text-danger"></span>

                <label asp-for="@Model.Approver" class="control-label">Approvers</label>
                <input class="form-control" asp-for="@Model.Approver" id="approverContact" placeholder="start entering surname to search" />
         
                <span asp-validation-for="@Model.Approver" class="text-danger"></span>

                <label asp-for="@Model.FinancialContact" class="control-label">Financial Contacts</label>
                <input class="form-control" asp-for="@Model.FinancialContact" id="financialContact" placeholder="start entering surname to search" />
          
                <span asp-validation-for="@Model.FinancialContact" class="text-danger"></span>
              
                <label asp-for="@Model.IsApprovedByEA">EA Approved?</label>

                <input type="checkbox" asp-for="@Model.IsApprovedByEA" checked="@Model.IsApprovedByEA" />
                <span asp-validation-for="@Model.IsApprovedByEA" class="text-danger"></span>
               
                <div class="form-group">
                    <label asp-for="@Model.ServicesEnabled" class="control-label"></label>
                    <input asp-for="@Model.ServicesEnabled" class="form-control" value="@Model.ServicesEnabled" />
                    <span asp-validation-for="@Model.ServicesEnabled" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.Id" class="form-control" />
                <input type="hidden" asp-for="@Model.OrganizationId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";

            $("#primaryContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#financialContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#approverContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
            $("#authorityContact").autocomplete({
                source: contactListUrl,
                delay: 500
            });
        });
    </script>
}
