@model Service_Billing.Models.ClientAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ClientNumber" class="control-label"></label>
                <input asp-for="@Model.ClientNumber" class="form-control" value="@Model.ClientNumber" data-val="true" data-val-required="A CAS Client Number must be provided"/>
                <span asp-validation-for="@Model.ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ResponsibilityCentre" class="control-label"></label>
                <input asp-for="@Model.ResponsibilityCentre" class="form-control" value="@Model.ResponsibilityCentre" data-val="true" data-val-required="Please Provide a five character RC code"/>
                <span asp-validation-for="@Model.ResponsibilityCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ServiceLine" class="control-label"></label>
                <input asp-for="@Model.ServiceLine" class="form-control" value="@String.Format("{0:00000}", Model.ServiceLine)" maxlength="5" data-val="true" data-val-required="Please Provide a five character Service Line code" />
                <span asp-validation-for="@Model.ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.STOB" class="control-label"></label>
                <input asp-for="@Model.STOB" class="form-control" value="@String.Format("{0:0000}", Model.STOB)" maxlength="4" data-val-required="Please Provide a four character SToB number" />
                <span asp-validation-for="@Model.STOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project" class="control-label"></label>
                <input asp-for="@Model.Project" class="form-control" value="@Model.Project" />
                <span asp-validation-for="@Model.Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ExpenseAuthorityName" class="control-label"></label>
                <input asp-for="@Model.ExpenseAuthorityName" class="form-control" value="@Model.ExpenseAuthorityName" />
                <span asp-validation-for="@Model.ExpenseAuthorityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Notes" class="control-label"></label>
                <textarea asp-for="@Model.Notes" class="form-control" value="@Model.Notes" > </textArea>
                <span asp-validation-for="@Model.Notes" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="@Model.CasClientNumber" class="control-label"></label>
                <input asp-for="@Model.CasClientNumber" class="form-control" value="@String.Format("{0:000}", Model.CasClientNumber)" maxlength="3" />
                <span asp-validation-for="@Model.CasClientNumber" class="text-danger"></span>
            </div> *@
            <div>
                @if(Model.Team != null && !String.IsNullOrEmpty(Model.Team.Name))
                {
                    <h3>@Model.Team.Name</h3>
                }
                else
                {
                    <h3>Add a Client Team</h3>
                }
                @* <div id="intake-contacts-instructions">
                    To enter contacts, begin typing in the contact's IDIR display name, which is in the form "LastName, FirstName", followed by their ministry acronym.
                    For example: "Smith, Jane CITZ:EX".
                    <br />
                    Contacts matching your input will display in a dropdown menu for you to pick.
                </div> *@

                <label asp-for="@Model.Team.PrimaryContact" class="control-label">Primary Contact</label>
                <input asp-for="@Model.Team.PrimaryContact" class="form-control" id="primaryContact" placeholder="start entering surname to search" />
                <div id="primaryContactSelect">
                </div>
                <span asp-validation-for="@Model.Team.PrimaryContact" class="text-danger"></span>

                <label asp-for="@Model.Team.Approver" class="control-label">Approvers</label>
                <input class="form-control" asp-for="@Model.Team.Approver" id="approverContact" placeholder="start entering surname to search" />
                <div id="approverContactSelect">
                </div>
                <span asp-validation-for="@Model.Team.Approver" class="text-danger"></span>

                <label asp-for="@Model.Team.FinancialContact" class="control-label">Financial Contacts</label>
                <input class="form-control" asp-for="@Model.Team.FinancialContact" id="financialContact" placeholder="start entering surname to search" />
                <div id="financialContactSelect">
                </div>
                <span asp-validation-for="@Model.Team.FinancialContact" class="text-danger"></span>
              
                <label asp-for="@Model.IsApprovedByEA">EA Approved?</label>

                <input type="checkbox" asp-for="@Model.IsApprovedByEA" checked="@Model.IsApprovedByEA" />
                <span asp-validation-for="@Model.IsApprovedByEA" class="text-danger"></span>
               
                <div class="form-group">
                    <label asp-for="@Model.ServicesEnabled" class="control-label"></label>
                    <input asp-for="@Model.ServicesEnabled" class="form-control" value="@Model.ServicesEnabled" />
                    <span asp-validation-for="@Model.ServicesEnabled" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.Team.Id" class="form-control" />
                <input type="hidden" asp-for="@Model.Team.Name" class="form-control" />
                <input type="hidden" asp-for="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            const queryForUser = (query, contactType) => {
                var url = "../../ClientAccount/SearchForContact?query=" + query + "&contactType=" + contactType;
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var id = `#${contactType}`;
                        $(id).html(xhr.response);
                    }
                };
                xhr.open('get', url);
                xhr.send();
            };

            var timer = null;

            $("#primaryContactSelect").on("change", (e) => {
                $("#primaryContact").val($("#primaryContactValue").val());
            });
            $("#approverContactSelect").on("change", (e) => {
                $("#approverContact").val($("#approverContactValue").val());
            });
            $("#financialContactSelect").on("change", (e) => {
                $("#financialContact").val($("#financialContactValue").val());
            });
            $("#authorityContactSelect").on("change", (e) => {
                $("#authorityContact").val($("#authorityContactValue").val());
            });

            $("#primaryContact").on("keypress", (e) => {
                // clear timeout if already applied
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                //  set new timeout;
                timer = setTimeout(function () {
                    //  call wait-function and clear timeout
                    queryForUser($("#primaryContact").val(), "primaryContactSelect");
                    clearTimeout(timer);
                    timer = null;
                }, 250);
            });

            $("#approverContact").on("keypress", (e) => {
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                timer = setTimeout(function () {
                    queryForUser($("#approverContact").val(), "approverContactSelect");
                    clearTimeout(timer);
                    timer = null;
                }, 250);
            });
            $("#financialContact").on("keypress", (e) => {
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                timer = setTimeout(function () {
                    queryForUser($("#financialContact").val(), "financialContactSelect");
                    clearTimeout(timer);
                    timer = null;
                }, 250);
            });
            $("#authorityContact").on("keypress", (e) => {
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                timer = setTimeout(function () {
                    queryForUser($("#authorityContact").val(), "authorityContactSelect");
                    clearTimeout(timer);
                    timer = null;
                }, 250);
            });
        });
    </script>
}
