@using Service_Billing.ViewModels;
@model ClientAccountViewModel

<h1>Client Account info</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Client #</th>
                <th scope="col">Responsibility Centre</th>
                <th scope="col">Expense Authority</th>
                <th scope="col">Client Team</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ClientAccount account in Model.ClientAccounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.ClientNumber</td>
                    <td>@account.ResponsibilityCentre</td>
                    <td>@account.ExpenseAuthorityName</td>
                    <td>@account.ClientTeam</td>
                    <td>
                        <a asp-controller="ClientAccount"
                           asp-action="Details"
                           asp-route-id="@account.Id">See more</a>
                    </td>
                </tr>
            }
        </tbody>
</div>
