@model ServiceCategoryListViewModel

<h2>Service Category List</h2>
<a asp-controller="ServiceCategory" asp-action="Add" class="btn btn-primary">Add New</a>
@if(!Model.ServiceCategories.Any())
{
    <p>No results</p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Business Area</th>
        <th>Costs</th>
        <th>Description</th>
        <th>Unit of Measure</th>
    </tr>
    @foreach (var category in Model.ServiceCategories)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.GdxBusinessArea</td>
            <td>@category.Costs</td>
            <td>@category.Description</td>
            <td>@category.UOM</td>
        </tr>
    }
</table>
<div>
    <a asp-controller="ServiceCategory" asp-action="Export" class="btn btn-primary">Export Service Categories</a>
</div>